/* body {
    background: orange;
} */

p {
    margin: 0;
}

.blokas {
    display: flex;
    padding: 20px;
    gap: 20px;
    height: 600px;
}

.blokas:nth-child(odd) {
    background: orangered;
}

.blokas:nth-child(even) {
    background: orange;
}

.blokas .stulpelis {
    background: white;
    padding: 20px;
    width: 25%;
    box-sizing: border-box;
}
#eile1{
    justify-content: center;
    align-items: flex-start;
}
#eile2{
   
    align-items: flex-end;
}
#eile3{
    justify-content: center;
    align-items: centr;
}
#eile4{
    justify-content: flex-end;
    align-items: flex-end;
}
#eile5 {
    align-items: center;
    justify-content: space-between;
}
#eile6 {
    align-items: center;
    justify-content: space-evenly;
}
#eile7 {
    align-items: center;
    justify-content: space-around;
}
#eile8 {
    justify-content: center;
    align-items: baseline;
}
#eile9 {
    justify-content: center;
    align-items: flex-end;
}