/* 
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
*/
/* ===========================================
BENDRINIAI STYLIAI
============================================  */

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*  ===========================================
NAVIGACIJOS STYLIAI
===========================================  */
.navbar {}
.navbar .navbar-brand {
color: #878B9B;
font-family: 'Roboto Condensed', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.navbar .navbar-nav .nav-item .nav-link {
color: #404445;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navbar .navbar-nav .nav-item .nav-link.activ {
color: #43C45F;
font-weight: 900;
}


/* =============================================
 PRADINIO PUSLAPIO STYLIAI
============================================ */

/* NAVIGACIJOS STILIAI  */



/*  HEADER STILIAI  */


/*  ....   STILIAI  */



/*  ===========================================
  ......
===========================================  */


/*  ===========================================
     FUTER STYLIAI
===========================================  */