body {
    background-attachment: rgb(62,180, 220);
}
#pirmas {
    background-color: w;
}
#antras {
    background-color: aliceblue;
}
#trecias {
    background-color: aliceblue;
}
#ketvirtas {
    background-color: aliceblue;
}
#penktas {
    background: white;
    width: 100%;
    max-width: 1000px;
}
#sestas {
    background-color: gold;
    width: 300px;
    height: 150px:
}
