body{
    background: green;
}
.blokas {
    margin: 50px auto;
}
/* ==============================
PIRMAS BLOKAS
============================== */
#pirmas {
    border: 2px solid black;
    width: 250;
    /* margin: 50px auto; */
}
#antras h2, #antras p {
    margin: 0;
}
#pirmas h2,
#pirmas p{
    margin: 0;
}
#pirmas .virsus {

    background: black;
    padding: 20px 40px;
}

#pirmas .apacia {
    background: white;
    padding: 30px 40px;
}
/* ==============================
Antras BLOKAS
============================== */
#antras {
    width: 300px;
    background: white;
    padding:30px;
}

#antras h2, #antras p{
    margin: 0;

}
    
